.app-background {
    background-color: var(--app-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.app-main-panel {
    min-height: 600px;
    background-color: var(--main-panel-color);
    box-shadow: var(--main-shadow);
    border-radius: var(--border-radius-size);
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.elevator-control-section {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 5px 10px;
    justify-content: end;
}

.elevator-visual-section {
    background-color: var(--elevator-visual-section-bg-color);
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    gap: 10px;
}

.elevator-admin-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 10px;
}