.floor-control {
    display: flex;
    justify-content: space-between;
    height: calc(var(--elevator-visual-section-floor-size) * 1px);
    align-items: center;
}

.floor-label {
    width: calc(var(--elevator-visual-section-floor-size) * 1px);
    height: calc(var(--elevator-visual-section-floor-size) * 1px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: var(--border-radius-size);
    line-height: calc((var(--elevator-visual-section-floor-size) / 1.7) * 1px);
    font-size: calc((var(--elevator-visual-section-floor-size) / 1.7) * 1px);
    margin-right: 8px;
}

.floor-label-active {
    background-color: var(--button-color);
    color: var(--button-text-color);
}

.floor-label-inactive {
    background-color: var(--elevator-visual-section-bg-color);
    color: var(--button-color);
}

.pickup-buttons-container {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.pickup {
    width: 0;
    height: 0;
    border-left: calc(var(--elevator-visual-section-floor-size) / 2 * 1px) solid transparent;
    border-right: calc(var(--elevator-visual-section-floor-size) / 2 * 1px) solid transparent;
    cursor: pointer;
}

.pickup-up {
    border-bottom: calc(var(--elevator-visual-section-floor-size) / 1.5 * 1px) solid var(--elevator-up-button-color);
}

.pickup-down {
    border-top: calc(var(--elevator-visual-section-floor-size) / 1.5 * 1px) solid var(--elevator-down-button-color);
}

.pickup-up-inactive {
    border-bottom: calc(var(--elevator-visual-section-floor-size) / 1.5 * 1px) solid var(--elevator-visual-section-bg-color);
}

.pickup-down-inactive {
    border-top: calc(var(--elevator-visual-section-floor-size) / 1.5 * 1px) solid var(--elevator-visual-section-bg-color);
}

.mini-button {
    height: calc(var(--elevator-visual-section-floor-size) * 1px);
    font-size: calc((var(--elevator-visual-section-floor-size) / 1.7) * 1px);
    background-color: var(--button-color);
    border-radius: var(--border-radius-size);
    border: none;
    font-weight: bold;
    color: var(--button-text-color);
    cursor: pointer;
}

.invisible {
    display: none;
}